body {
  text-align: center;
  background-color: #d3d7dc;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-image: url("images/dog.png");
  background-size: cover; /* Adjusts the size of the image to cover the button */
  background-position: center; /
}

.green {
  background-image: url("images/bee.png");
  background-size: cover; /* Adjusts the size of the image to cover the button */
  background-position: center; /
}

.blue {
  background-image: url("images/cat.png");
  background-size: cover; /* Adjusts the size of the image to cover the button */
  background-position: center; /
}

.yellow {
  background-image: url("images/bird.png");
  background-size: cover; /* Adjusts the size of the image to cover the button */
  background-position: center; /
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
 
